<div class="small-card-container">
  <a href="#Love_Science" class="title-link" id="link_Love_Science">
    <div class="small-card">
      <div class="title">Love Science</div>
      <div class="body">
        <img src="images/writing_samples/Letter_Alvaro_Serrano.jpg" alt="Love Science Article">
      </div>
      <div class="footer">Scientific Revolutions</div>
    </div>
  </a>
  <a href="#Modern_Isolation" class="title-link" id="link_Modern_Isolation">
    <div class="small-card">
      <div class="title">Modern Isolation</div>
      <div class="body">
        <img src="images/writing_samples/Isolation_Carlos_Santos.jpg" alt="Modern Isolation Article">
      </div>
      <div class="footer">Inktopic</div>
    </div>
  </a>
</div>

<script type="text/javascript">
  $("#link_Love_Science").click(function() {
    $("#content").load("layouts/content/writing_samples_content/Love_Science.html");
  });
  $("#link_Modern_Isolation").click(function() {
    $("#content").load("layouts/content/writing_samples_content/Modern_Isolation.html");
  });
</script>
