<div class="small-card-container">
  <a href="#Love_Science" class="title-link" id="link_Love_Science">
    <div class="small-card">
      <div class="title">Love Science</div>
      <div class="body">
        <img src="images/code_projects/vermont_dms_small_card.jpg" alt="User Interface of Vermont DMS">
      </div>
    </div>
  </a>
</div>

<script type="text/javascript">
  $("#link_Love_Science").click(function() {
    $("#content").load("layouts/content/writing_projects_content/Love_Science.html");
  });
</script>
