<div class="large-card">
  <a href="https://github.com/WCTP/Apriori_Production" class="title-link" target="_blank"><div class="title">Apriori Algorithm</div></a>
  <div class="body">
    <img src="images/code_projects/apriori_transactions.JPG"></img>
    <p>In my class Data Structures & Algorithms, we were tasked with recreating the associative mining algorithm Apriori. With my teammate Jimmy Griffiths, we were able to recreate the algorithm using translational arrays converting values into boolean indexes which then generated all combinations of transactions over a certain support threshold.</p>
  </div>
</div>
