<div class="small-card-container">
  <a href="#Vermont_Marathon_DMS" class="title-link" id="link_Vermont_Marathon_DMS">
    <div class="small-card">
      <div class="title">Vermont Marathon DMS</div>
      <div class="body">
        <img src="images/temp.jpg" alt="User Interface of Vermont DMS">
      </div>
    </div>
  </a>
  <a href="https://github.com/WCTP/Vermont_Marathon_DMS" class="title-link" target="_blank">
    <div class="small-card">
      <div class="title">Vermont Marathon DMS</div>
      <div class="body">
        <img src="images/temp.jpg" alt="User Interface of Vermont DMS">
      </div>
    </div>
  </a>  <a href="https://github.com/WCTP/Vermont_Marathon_DMS" class="title-link" target="_blank">
      <div class="small-card">
        <div class="title">Vermont Marathon DMS</div>
        <div class="body">
          <img src="images/temp.jpg" alt="User Interface of Vermont DMS">
        </div>
      </div>
    </a>  <a href="https://github.com/WCTP/Vermont_Marathon_DMS" class="title-link" target="_blank">
        <div class="small-card">
          <div class="title">Vermont Marathon DMS</div>
          <div class="body">
            <img src="images/temp.jpg" alt="User Interface of Vermont DMS">
          </div>
        </div>
      </a>
</div>

<script type="text/javascript">
  $("#link_Vermont_Marathon_DMS").click(function() {
    $("#content").load("content/coding_projects_content/Vermont_Marathon_DMS.html");
  });
</script>
