<div class="small-card-container">
  <a href="#Vermont_Marathon_DMS" class="title-link" id="link_Vermont_Marathon_DMS">
    <div class="small-card">
      <div class="title">Vermont Marathon DMS</div>
      <div class="body">
        <img src="images/code_projects/vermont_dms_small_card.jpg" alt="User Interface of Vermont DMS">
      </div>
    </div>
  </a>
  <a href="#Apriori" class="title-link" id="link_Apriori">
    <div class="small-card">
      <div class="title">Apriori Algorithm</div>
      <div class="body">
        <img src="images/code_projects/apriori.jpg" alt="Output of Apriori Program">
      </div>
    </div>
  </a>  <a href="#ProDocument" class="title-link" id="link_ProDocument">
      <div class="small-card">
        <div class="title">ProDocument</div>
        <div class="body">
          <img src="images/temp.jpg" alt="User Interface of Vermont DMS">
        </div>
      </div>
    </a>  <a href="https://github.com/WCTP/Vermont_Marathon_DMS" class="title-link" target="_blank">
        <div class="small-card">
          <div class="title">Vermont Marathon DMS</div>
          <div class="body">
            <img src="images/temp.jpg" alt="User Interface of Vermont DMS">
          </div>
        </div>
      </a>
</div>

<script type="text/javascript">
  $("#link_Vermont_Marathon_DMS").click(function() {
    $("#content").load("layouts/content/coding_projects_content/Vermont_Marathon_DMS.html");
  });
  $("#link_Apriori").click(function() {
    $("#content").load("layouts/content/coding_projects_content/Apriori.html");
  });
  $("#link_ProDocument").click(function() {
    $("#content").load("layouts/content/coding_projects_content/ProDocument.html");
  });
</script>
