<div class="large-card">
  <a href="https://github.com/WCTP/Vermont_Marathon_DMS" class="title-link" target="_blank"><div class="title">Vermont Marathon DMS</div></a>
  <div class="body">
    <img src="images/code_projects/Vermont_DMS.JPG"></img>
    <p>Working with South Burlington High School's AP Computer Science Class, we were able to successfully keep track of people in the main medical tent and record all treatment information. This information was then given to the Vermont Medical Hospital for further analysis and record keeping.</p>
  </div>
</div>
