<div class="large-card">
  <a href="https://github.com/WCTP/ProDocument" class="title-link" target="_blank"><div class="title">ProDocument</div></a>
  <div class="body">
    <img src="images/code_projects/ProDocument.PNG"></img>
    <p>ChampSupport's old Wiki system was outdated, so I made our own Wiki like system. It allows us to document any information that we need on a MySQL database. All documents are stored in one table because of the small nature of our business. The nice thing about this system is it requires little knowledge to use. The developer should only have to change html links to set categories for whatever types of documents they want.</p>
  </div>
</div>
