<div class="large-card">
  <a href="https://github.com/WCTP/Project_Colossus" class="title-link" target="_blank"><div class="title">Project Colossus</div></a>
  <div class="body">
    <img src="images/code_projects/Project_Colossus.PNG"></img>
    <p>Using Laravel as my PHP framework again, I decided I could adapt the ProDocument system I made to be a new DND system. Users have inventories and stats that will be calculated based off of nodes unlocked off a sphere grid. Much of this project was inspired based off of Final Fantasy X and its Sphere Grid. Dynamically creating the sphere grid by far has been the hardest part of this project.</p>
  </div>
</div>
