<div class="small-card-container">
  <a href="https://www.vecteezy.com" class="title-link" target="_blank">
    <div class="small-card">
      <div class="title">Media Icons by Vecteezy!</div>
      <div class="body">
        <img src="images/resources/vecteezy.jpg" alt="Image of Vecteezy website.">
      </div>
    </div>
  </a>
  <a href="https://fonts.google.com/specimen/Source+Code+Pro?selection.family=Source+Code+Pro" class="title-link" target="_blank">
    <div class="small-card">
      <div class="title">Font by Paul D. Hunt</div>
      <div class="body">
        <img src="images/resources/google_font.jpg" alt="Image of website font.">
      </div>
    </div>
  </a>  <a href="https://fonts.google.com/specimen/Fugaz+One?selection.family=Fugaz+One" class="title-link" target="_blank">
      <div class="small-card">
        <div class="title">Name Font by LatinoType</div>
        <div class="body">
          <img src="images/resources/website_title_font.jpg" alt="Image of website title font.">
        </div>
      </div>
    </a>  <a href="https://matthewfortier.io/" class="title-link" target="_blank">
        <div class="small-card">
          <div class="title">Inspiration From Matt F.</div>
          <div class="body">
            <img src="images/resources/matt_fortier_site.jpg" alt="User Interface of Vermont DMS">
          </div>
        </div>
      </a>
</div>
